body {
  margin: 0;
  padding: 0;
  background-color: #222;
  min-height: 100vh;
  display:flex;
  flex-wrap: wrap;
  font-family: Helvetica,sans-serif;
  color: #F44336;
  
  
}

a{
  color:#F44336
}

#presentacion{
  text-align:center;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
  font-size: 30px;
}

#admins{
  text-align:center;
  text-decoration: none;
  padding: 25px;
  font-size: 30px;
}
#nosotros{
  text-align:center;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
  font-size: 30px;
}
#somos{
  text-align:end;
}
#somos2{
  text-align:left;
}
#vendedora{
  float:right;
  filter: drop-shadow(0 0 5px rgb(75, 75, 79));
  
}


#vendedor{
  float:left;
  filter:drop-shadow(0 0 5px rgb(75,75,79));
}
img{
  height:auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
  border-radius: 3px;
  margin: 10px;
}
#gtr{
  position: absolute;
  top: 450px;
  left: 25px;
}
#merc{
  position: absolute;
  top: 450px;
  left: 400px;
  
}
#pors{
  position: absolute;
  top: 450px;
  left: 800px;
}
#lambo{
  position: absolute;
  top: 450px;
  left: 1200px;
}
footer{
  align-self:flex-end;
  background-color:#222;
  line-height: 3;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 10vh;
  color:#F44336;
  font-style: oblique;
}



#mmeennuu {
  display: none;
}

#mmeennuu:checked ~ .menu {
  width: 500px;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid #F44336;
  height: 85px;
}
#mmeennuu:checked ~ .menu > ul {
  display: block;
  opacity: 1;
}
#mmeennuu:checked ~ .menu > .barry {
  display: none;
}

.menu {
  display: block;
  margin: 60px auto ;
  width: 100px;
  height: 100px;
  background-color: #F44336;
  border: 3px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.menu div.barry {
  width: 60px;
  margin: 35px auto;
}
.menu div.barry .bar {
  display: block;
  width: 100%;
  height: 5px;
  margin-top: 3px;
  border-radius: 2px;
  background-color: #fff;
}
.menu ul {
  opacity: 0;
  display: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-bottom: 0;
}
.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  color: #F44336;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  border: 3px solid transparent;
  border-radius: 5px;
}
.menu ul li a:hover {
  border-color: #F44336;
}
.menu ul li a:target {
  border-bottom-color: #F44336;
}


h1, table { 
  text-align: center; 
}

body table {
  border-collapse: collapse; 
  width: 70%; 
  margin-left: 20%;
  margin-right: 20%; 
  color:#222;
}

th, td { 
  padding: 1.5rem; 
  font-size: 1.3rem; 
}

tr {
  background: #f07c73; 
}

tr, td { 
  transition: .4s ease-in;
 } 

tr:first-child {
  background:#F44336; 
}

tr:nth-child(even) { 
  background:#e3b1ae; 
}

td:empty {
  background: hsla(50, 25%, 60%, 0.7);
 }

tr:hover:not(#coches), tr:hover td:empty {
  background: #ff0; pointer-events: visible;
}
tr:hover:not(#coches) { 
  transform: scale(1.2); 
  font-weight: 700; 
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
#donde{
  display: flex;
  width: 60% ;
  
  margin-left: 15%;
  margin-right: 20%;
}
form {
  margin: 0 auto;
  width: 400px;
 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #F44336 ;
  color:#222;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: .5em;
}
iframe{
  height:475px;
  width: 700px;
  max-height: 700px;
  max-width: 700px;
  border-radius: 3px;
  margin: 10px;
}
#form2{
    display: flex;
    width: 5000px;
    margin-left: 35%;
    
}
#genero{
  text-align: center;
  color: #222;
}
#ingles{
  text-align: center;
}
